.active {
  color: #ff0000 !important;
}
/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex {
  color: #581d59;
}
.Graphic-Design-2-hex {
  color: #f199f2;
}
.Graphic-Design-3-hex {
  color: #0487d9;
}
.Graphic-Design-4-hex {
  color: #f2e963;
}
.Graphic-Design-5-hex {
  color: #f25050;
}
